################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj



/kafka/Keys.json
/kafka/kafka/kafka-logs
/kafka/version-2
